body#ukm-page {
    background: #fff;
    & #ukm {
        @media only screen and(max-width: 600px){
            padding-top: 5rem;
        } 
        & label.button__secondary {
            color: black;
        }

        & .grid {
            & .item-grid {
                background-color: $color-primary;
            }
        }

        & div.d-flex .button{
            margin: 0 2rem;
            transition: all .5s ease;

            @media screen and(max-width: 375px){
                margin: 0 .8rem;
            }

            @media screen and(max-width: 320px){
                margin: 0 .5rem;
            }
        }
        
        & #ukm-radio:checked ~ div > label[for="ukm-radio"],
        & #bso:checked ~ div > label[for="bso"],
        & #lk:checked ~ div > label[for="lk"]
        {
            background-color: $color-secondary;
            color: $color-white;
        }

        & input {
            display: none;
        }

        & .display-ukm {
            margin: 10rem auto;
        }

        
        & .display-ukm > .ukm,
        & .display-ukm > .bso,
        & .display-ukm > .lk {
            // display: none;
            transition: all .5s ease;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50rem);
        }


        & #ukm-radio:checked ~ .display-ukm > .ukm, 
        & #bso:checked ~ .display-ukm > .bso, 
        & #lk:checked ~ .display-ukm > .lk {
            // display: block;
            height: auto;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}