.banner {
    position: relative;
    overflow-x: hidden;

    &__logo {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(1.5);
        background-image: url('../image/logo 1.png');

        @media screen and(max-width: 1440px){
            transform: translate(-50%,-50%) scale(1);
        }
        @media screen and(max-width: 1024px){
            transform: translate(-50%,-50%) scale(.9);
        }
        @media screen and(max-width: 900px){
            transform: translate(-50%,-50%) scale(.8);
        }
        @media screen and(max-width: 600px){
            transform: translate(-50%,-50%) scale(.5);
        }
        @media screen and(max-width: 450px){
            transform: translate(-50%,-50%) scale(.43);
        }
    }

}